@emotion/react
@emotion/styled
@maptiler/sdk
@mui/material
@react-three/drei
@supabase/supabase-js
@tabler/icons-react
@techstark/opencv-js
@tensorflow-models/coco-ssd
@tensorflow/tfjs-node
@tensorflow/tfjs
@tsparticles/react
@tsparticles/slim
@types/node
@types/react-dom
@types/react
@vladmandic/face-api
bootstrap
chart.js
clsx
eslint-config-next
eslint
face-api.js
framer-motion
html5-qrcode
mini-svg-data-uri
next-themes
next
postcss
qrcode.react
qrious
react-bootstrap-icons
react-bootstrap
react-chartjs-2
react-datepicker
react-dom
react-icon-cloud
react-icons
react-leaflet
react-lottie
react-qr-code
react-router-dom
react
tailwind-merge
tailwindcss-animate
tailwindcss
three-globe
typescript
